:root {
  --background: #ddd;
  --color: #000;
  --card-background: #fff;
  --card-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #333;
    --color: #fff;
    --card-background: #222;
    --card-color: #fff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 40rem;
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--card-background);
  color: var(--color);
}

.card__header {
  border-bottom: 1px solid black;
}

.card__hobbies {
  list-style: none;
}

.card__hobbies--items {
}
